QWidget { font-family: "Ubuntu"; }

QMenuBar { padding-top: 2px; padding-bottom: 2px; }

QMenuBar::item { spacing: 3px; padding: 2px 8px; background: transparent; }

QMenuBar::item:pressed {
    border: 1px solid #505050;
    border-bottom: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #404040; color: white;
}

QToolTip { color: #ffffff; background-color: #2a82da; border: 1px solid white; }

QDialog { border: 1px solid palette(mid); }

QDockWidget::close-button, QDockWidget::float-button {
    border-radius: 2px;
    top: 1; right: 2;
}

