[submodule "src/designerplugins/joystickplugin/SFML"]
	path = src/designerplugins/joystickplugin/SFML
	url = https://github.com/SFML/SFML
	tag = 2.6.1
[submodule "src/vendor/PropertyEditor"]
	path = src/vendor/PropertyEditor
	url = https://github.com/etet100/Property-Editor
[submodule "src/vendor/uCNC"]
	path = src/vendor/uCNC
	url = https://github.com/etet100/uCNC
	branch = candle-library
[submodule "src/vendor/CircularBuffer"]
	path = src/vendor/CircularBuffer
	url = https://github.com/rlogiacco/CircularBuffer
[submodule "src/vendor/QtEventBus"]
	path = src/vendor/QtEventBus
	url = https://github.com/cmguo/QtEventBus
[submodule "src/vendor/CRC"]
	path = src/vendor/CRC
	url = https://github.com/RobTillaart/CRC
[submodule "src/vendor/phantomstyle"]
	path = src/vendor/phantomstyle
	url = https://github.com/cristianadam/phantomstyle
[submodule "src/vendor/grblHal"]
	path = src/vendor/grblHal
	url = https://github.com/etet100/grblHALCore/tree/library
