---
---

// Import default Cayman theme styles
@import "{{ site.theme }}";

// Custom header background image
.page-header {
  background-image: url("{{ '/screenshots/gpilot_big.jpg' | relative_url }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
