/* Splitter horizontal uses vertical handle image and vice versa? */
QSplitter::handle:horizontal, QMainWindow::separator:vertical {
    background-image: url(":/images/handle_vertical_dark.png");
}

/* Splitter horizontal uses vertical handle image and vice versa? */
QSplitter::handle:vertical, QMainWindow::separator:horizontal {
    background-image: url(":/images/handle_horizontal_dark.png");
}

QGroupBox::title {
    ph-title-background: #43635C;
}

