<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>AstroCore GCode Sender</Name>
    <Version>1.0.0</Version>
    <Title>AstroCore Installer</Title>
    <Publisher>BTS</Publisher>
    <StartMenuDir>AstroCore GCode Sender</StartMenuDir>
    <TargetDir>@HomeDir@/AstroCore</TargetDir>
    <ControlScript>controlscript.qs</ControlScript>
    <InstallActionColumnVisible>true</InstallActionColumnVisible>
    <RemoveTargetDir>false</RemoveTargetDir>
    <RunProgram>@TargetDir@/AstroCore.exe</RunProgram>
    <RunProgramDescription>Launch AstroCore</RunProgramDescription>
    <RunProgramArguments></RunProgramArguments>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <WizardStyle>Modern</WizardStyle>
    <StyleSheet></StyleSheet>
    <Logo></Logo>
    <Watermark></Watermark>
    <Banner></Banner>
    <Background></Background>
    <InstallerApplicationIcon>astrocore.ico</InstallerApplicationIcon>
    <InstallerWindowIcon>astrocore.ico</InstallerWindowIcon>
    <ProductUrl>https://github.com/etet100/AstroCore-GCode-Sender</ProductUrl>
</Installer>